@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins",
    sans-serif;
}
:root {
    --bg-color: #ffffff;
    --second-bg-color: #dfe8f8;
    --text-color: #000;
    --main-color: #499ecf;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 9%;
    background: #ffffff;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}
.logo{
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logo:hover{
    transform: scale(1.1);
}
.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

/* section */
section {
    min-height: 100vh;
    padding: 10rem 9% 10rem;
}

/* home section */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}
.home-content h4{
    margin-top: 1rem;
    font-size: 2.5rem;
}
.home-content h3{
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}
.home-content h1{
    color: var(--main-color);
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1rem;
    line-height: 1;
}
.home-img{
    border-radius: 50%;
}
.home-img img{
    position: relative;
    top: 3rem;
    width: 33vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background-color: transparent;
    border: 0.2rem solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 1rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover{
    color: #ffffff;
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #ffffff;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}
.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: "System Analyst";
    color: var(--main-color);
    animation: words 20s infinite;
}
.text-animation span::after{
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor{
    to{
        border-left: 2px solid var(--main-color);
    }
}
@keyframes words{
    0%,
    20%{
        content: "System Analyst";
    }
    21%,
    40%{
       content: "Data Analyst"; 
    }
    41%,
    60%{
       content: "Data Scientist"; 
    }
    61%,
    80%{
       content: "Frontend Designer"; 
    }
    81%,
    100%{
       content: "Frontend Developer"; 
    }
}
@keyframes typing{
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}

/* about section */
/* span{
    color: var(--main-color);
}
.logo span{
    color: var(--main-color);
} */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: var(--second-bg-color);
    color: var(--text-color);
    padding-top: 10rem;
}
.about h2 span{
    color: var(--main-color);
    text-shadow: 0 0 25px var(--main-color);
}
.about-img{
    border-radius: 50%;
}
.about-img img{
    position: relative;
    width: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 25% var(--main-color);
    top: 1rem;
    cursor: pointer;
    transition: 0.4s ease-in-out;
} 
.about-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}
.heading{
    text-align: center;
    font-size: 6rem;
}
.about-content h2{
    text-align: left;
    line-height: 1.5;
}
.about-content h3{
    font-size: 2.6rem;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.about-content .text-animation span::before{
    content: "System Analyst";
    color: var(--main-color);
    animation: words 20s infinite;
}
.about-content .text-animation span::after{
    content: "";
    background-color: var(--second-bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
::-webkit-scrollbar-track{
    background-color: var(--bg-color);
    width: 50px;
}

/* education section */
.education{
    padding-top: 10rem;
}
.edu-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12rem;
}
.edu-text{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}
.edu-img{
    border-radius: 10%;
}
.edu-img img{
    position: relative;
    top: 3rem;
    width: 25vw;
    border-radius: 10%;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.edu-text h3{
    color: var(--main-color);
    font-size: 4rem;
}
.edu-text h4{
    font-size: 2rem;
    margin-top: 1.5rem;
}
.edu-text p{
    font-size: 1.6rem;
    margin-top: 1.5rem;
}

/* experiences section */
.experience{
    color: var(--bg-color);
    padding-top: 10rem;
    background-color: var(--main-color);
}
.experience-content {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.profesional-content{
    background-color: var(--second-bg-color);
    margin: 2rem 0 3rem;
    padding: 3rem;
    border-radius: 15px;
}
.profesional-content h3{
    text-align: center;
    font-size: 3rem;
    color: var(--main-color);
    margin-bottom: 3rem;
}
.profesional-img{
    border-radius: 10%;
}
.profesional-img img{
    border-radius: 10%;
    width: 8vw;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.profesional-job{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.profesional-text{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    color: var(--text-color);
    /* margin-top: 3rem; */
}
.profesional-text h4{
    font-size: 2.5rem;
}
.profesional-text h5{
    font-size: 2rem;
}
.profesional-text p{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.organization-content{
    background-color: var(--second-bg-color);
    margin: 2rem 0 3rem;
    padding: 3rem 5rem;
    border-radius: 15px;
}
.organization-content h3{
    text-align: center;
    font-size: 3rem;
    color: var(--main-color);
    margin-bottom: 3rem;
}
.organization-img{
    border-radius: 50%;
}
.organization-img img{
    border-radius: 50%;
    width: 8vw;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.organization-job{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.organization-text{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    color: var(--text-color);
    /* margin-top: 3rem; */
}
.organization-text h4{
    font-size: 2.5rem;
}
.organization-text h5{
    font-size: 2rem;
}
.organization-text p{
    font-size: 1.5rem;
    margin-top: 1rem;
}
